<configuration>

   <!-- JSON Console Appender -->
   <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
         <providers>
            <timestamp>
               <fieldName>timestamp</fieldName>
               <pattern>dd-MM-yyyy'T'HH:mm:ss.SSSZ</pattern>
            </timestamp>
            <!-- Log level provider -->
            <logLevel>
               <fieldName>level</fieldName>
            </logLevel>
            <!-- Logger name provider -->
            <loggerName>
               <fieldName>logger</fieldName>
            </loggerName>
            <!-- Thread name provider -->
            <threadName>
               <fieldName>thread</fieldName>
            </threadName>
            <!-- Dynamic MDC fields provider -->
            <mdc />
            <!-- Message provider -->
            <message>
               <fieldName>message</fieldName>
            </message>
            <!-- Exception provider (if present) -->
            <stackTrace>
               <fieldName>exception</fieldName>
            </stackTrace>

         </providers>
      </encoder>
   </appender>

   <!-- Root Logger -->
   <root level="WARN">
      <appender-ref ref="JSON_CONSOLE" />
   </root>
</configuration>
